framework: auto-detect
source https://nuget.org/api/v2

nuget FSharp.Core

nuget Microsoft.NET.Sdk.Functions
nuget Microsoft.AspNetCore.Mvc.Core
nuget Microsoft.Azure.WebJobs >= 3.0.0-beta3
nuget Microsoft.Azure.WebJobs.Extensions >= 3.0.0-beta3
  
nuget FAKE
nuget FSharp.Formatting

github fsharp/FAKE modules/Octokit/Octokit.fsx

  